@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotFound</title>
</head>
<body>
    <div>
        <h2>The Resource is not found.Please Check your URL. </h2>
    </div>
</body>
</html>
